.selector-for-some-widget {
  box-sizing: content-box;
}
/*
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}
*/
.hidden {
  visibility: hidden;
}

.visible{
  visibility: visible;
}

.main-container {
  height: 100%;
  width: 100%;
  margin: 0;
  /*overflow: hidden;*/
}

/* --- Butonlar ve Butonları kapsayayan konteyner bölümü ---*/
.button-container {
  width: 50%;
  height: fit-content;
  max-height: 15%;
  overflow-y: auto;
  padding: 5px;
  margin: 10px;
  /*border: 1px solid springgreen;*/
  position: absolute;
  left: 25%;
  bottom: 5%;
  text-align: center;
  z-index: 5;
}
.btn-control{
  margin-left: 5px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.btn-icon{
  text-align: center;
  height: 60%;
  width: 90%;
}
/* --- Mesajlaşma alanı, kullanıcıların listelenmsi ve Bunları kapsayayan konteyner bölümü ---*/
.bars-container{
  width: 20%;
  min-width: 150px;
  height: 100%;
  margin: 0px 0px 5px 5px;
  position: absolute;
  top: 0%;
  right: 0%;
  z-index: 6;
  display: none;
}

.chat-bar, .users-bar{
  width: 100%;
  height: 100%;
  display: none;
  background-color: lightgrey;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  /*border-top-left-radius: 1%;
  border-bottom-left-radius: 1%;*/
}


/* Chat ve Mesajlaşma alanı*/
.chat-bar{
}

.message-bubble{
  margin: 2px 1px;
  padding: 2px;
  position: relative;
  background-color: rgba(247, 243, 241,0.9);
  border-radius: 3%;
}
.message-sender{
  display: inline-block;
  
}

.message-time{
  position: absolute;
  display: inline-block;
  right: 2px;
  top: 2px;
}

.message-text{
  display: block;
}

.message-input-block{
  width: 100%;
  position: absolute;
  bottom: 0px;
  height: 50px;
  text-align: start;
  background-color: sandybrown;
}
.message-input{
  display: inline;
  width: max-content;
  width: 88%;
  margin: 0px;
}

.btn-send-message{
  display: inline;
  margin: 0px;
  padding: 0px;
  height: 30px;
  width: 10%;
  right: 2px;
  background-color: seagreen;
  align-self: flex-end;
}

.send-message-icon{
  height: 100%;
  width: 100%;
}

/* Kullanıcıların Listelenmesi*/
.users-bar{
}

.user-bubble{
  position: relative;
  width: 100%;
  background-color: sandybrown;
  padding: 20px 10px;
  margin: 4px;
  border-radius: 2%;
}

.user-info-username{
  display: inline-block;
  width: 50%;
  text-align: left center;
}

.user-bubble img{
  display: inline-block;
  padding: 4px;
  margin: 4px;
  width: 30px;
  height: 30px;
}

/*Videolar ve grid yapısı ile ilgili kısım */

.video-container{
  width: 100%;
  height: 100%;
  background-color: lightskyblue;
}

.video-container-content{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.video-container-only-content{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.content-video{
  height: 100%;
  width: 100%;
}

.content-video{
  grid-row: 1 /4;
  grid-column: 1 /2;
}

.content-video video{
  width: 100%;
  height: 100%;
}
.user-video{
  margin: 3px;
  background-color: magenta;
}

.user-video video{
  height: 100%;
  width: 100%;
}

.video-container-1-col{
  display: grid;
  grid-template-columns: 100%;
}

.video-container-2-col{
  display: grid;
  grid-template-columns: 50% 50%;
}

.video-container-3-col{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.video-container-4-col{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.video-container-1-row{
  display: grid;
  grid-template-rows: 100%;
}

.video-container-2-row{
  display: grid;
  grid-template-rows: 50% 50%;
}
.video-container-3-row{
  display: grid;
  grid-template-rows: 33.33% 33.33% 33.33%;
}
.video-container-4-row{
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}

/*! Record Stream and canvas ile ilgili ayarlar*/

.canvas-container {
  margin-top: 5px;
  background-color: black;
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#record-canvas {
  background-color: black;
  /*visibility: hidden;
  display: none;*/
}